*logs/
*.git/
*venv/
*stopLists/
*.vscode/
*confings/
*downloaded_files/

**/covers
**/tmp
**/__pycache__/

*headers.py
*test.py

*.json
*.txt
*.sql
*.log
*.png
*.chromedriver

HPoiApi.py

*MBO*